{% extends "layout.html" %}

{% block title %}Project Detail{% endblock %}

{% block head %}
<h1>Project Detail</h1>
{% endblock %}

{% block content %}
<div>
    <form class="form" id="project-form" method="post" style="margin-top: 15px; width: 100%;">
        
        {% csrf_token %}
        <div class="" style="display: flex; gap: 10px">
            <div class="div-name" style="width: 500px;">
                <!-- label, form.name -->
                {{ form.name.as_field_group }}
            </div>

            <div class="div-start-date">
                {{ form.start_date.as_field_group }}
                <!-- label, form.start_date -->
            </div>

            <div class="div-due-date">
                {{ form.due_date.as_field_group }}
                <!-- label, form.due_date -->
            </div>
        </div>


        {{ form.description.as_field_group }}
        <!-- label, form.description -->

        {{ form.manager.as_field_group }}
        <!-- label, form.manager -->

        {{ form.staff.as_field_group }}
        <!-- label, form.staff -->

        <button type="submit" style="width: 80px;">Save</button>
    </form>
</div>

<br />
<br />

<div>
    <div class="head">
        <h2>Employee in this project</h2>
    </div>
    {% if staff %}
    <div class="itemGroup">
        <!-- วนลูปแสดงข้อมูลพนักงาน -->
        {% for i in staff %}
        <div class="item">
            <!-- id ของพนักงาน ชื่อ นามสกุล -->
            <div>{{ i.id }} {{ i.get_full_name }}</div>
            <!-- position name -->
            <div>{{ i.position.name }}</div>

            <div class="action">
                <!-- path สำหรับ ลบพนักงานออกจาก project ใช้ method GET ใน View -->
                <a href="{% url 'project_kickstaff' id i.id %}"><button class="delete">Kick Staff</button></a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

</div>
{% endblock %}

