<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Question: {{ question.question_text }}</h1>
    <p>Publish date: {{ question.pub_date }}</p>
    <form action="{% url 'vote' question.id %}" method="post">
        {%csrf_token%}
        <div style="display:flex; flex-direction: column; margin: 15px 0px">
            {% for choice in choices %}
            <div style="display:flex; flex-direction: row;">
                <input type="radio" id="choice{{ forloop.counter }}" name="choice" value="{{ choice.id }}">
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
            </div>
            {% endfor %}
        </div>
        <button type="submit" name="submit">VOTE</button>
    </form>
</body>
</html>