<!DOCTYPE html>
<!-- [if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif] -->
<!-- [if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif] -->
<!-- [if IE 8]> <html class="no-js lt-ie9"> <![endif] -->
<!-- [if gt IE 8]> <html class="no-js"> -->
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}" />
  </head>
  <body>
    <section class="section">
      <h1 class="title">Question: {{ question.question_text }}</h1>
      <h3 class="subhead">Publish Date: {{ question.pub_date }}</h3>
      <section class="content">
        <ul>
          {% for i in choices %}
            <li>Choice {{ forloop.counter }} => {{ i.choice_text }} (Votes: {{ i.votes }})</li>
          {% endfor %}
        </ul>
        <a href="{% url 'vote' question.id %}"><button>Let's votes</button></a>
            <p class="subhead is-6">Current time: {% now "D j, M Y" %}</p>
      </section>
    </section>
    <script src="" async defer></script>
  </body>
</html>
