{% extends 'layout.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block title %}Project{% endblock %}


{% block head %}
<div class="head" style="margin:10px 3px">
    <h1>Project</h1>
</div>
{% endblock %}

{% if projects %}
{% block content %}
<div class="itemGroup">
    {% for i in projects %}
    <div class="item">
        <!-- โปรเจค id และ ชื่อ -->
        <div>{{ i.id }} {{ i.name }}</div>

        <!-- วันเริ่ม และ วันกำหนดส่งโปรเจค -->
        <div>{{ i.start_date }} - {{ i.due_date }}</div>

        <div class="action">
            <!-- กำหนด path ให้ถูกต้อง -->
            <a href="{% url 'projectDetail' i.id %}" class="edit btn">แก้ไข</a>
            
            <!-- ถ้า code มันแจ้งเตือนอะไรก็ปล่อยไปนะครับไม่มีผลอะไร  -->
            <!-- deleteProject(projectId ,csrf_token) -->
            <button type="submit" onclick="deleteProject({{ i.id }}, '{{ csrf_token }}')" class="delete">Delete</button>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
{% endif %}
</main>

{% block script %}
<script src="{% static 'project.js' %}"></script>
{% endblock %}
